{% load static %}

<style>
  .hello-msg{
    font-size:18px;
    color:#fff;
    margin-right:20px;
  }
    #settings-bar{
    color:#fff;
    margin-right:2px;
  }
  #profile-pic{
    width:40px;
    height:40px;
    margin: 0 auto;
    border-radius:50%;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="{% url 'user' %}">
    <img alt="error" src="{% static 'images/numfocus.png' %}"
         width=160" height="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_staff %}
      <li class="nav-item active">
      <a class="nav-link" id="settings-bar" href=" {% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" id="settings-bar" href="{% url 'products' %}">Products</a>
      </li>
          
      <li class="nav-item">
      <a class="nav-link" id="settings-bar" href=" ">About</a>
      </li>
           
       <li class="nav-item">
      <a class="nav-link" id="settings-bar" href=" ">Contact Us</a>
      </li>                                          
                                                     
           <li class="nav-item">
        <a class="nav-link" id="settings-bar" href=" {% url 'logout' %}">Logout</a>
      </li>
      {% else %}
                                                     
      <li class="nav-item">
        <a class="nav-link" id="settings-bar" href=" {% url 'home' %}">Home</a>
      </li>   
                                                                      
      <li class="nav-item">
      <a class="nav-link" id ="settings-bar" href=" ">About</a>
      </li>
           
       <li class="nav-item">
      <a class="nav-link" id="settings-bar" href=" ">Contact Us</a>
      </li> 
      
      <li class="nav-item">
        <a class="nav-link" id="settings-bar" href=" {% url 'profile' %}">Settings</a>
      </li>
                                                     
           <li class="nav-item">
        <a class="nav-link" id="settings-bar" href=" {% url 'logout' %}">Logout</a>
      </li>                                                                
                                                     
      
      {% endif %}
    </ul>
  </div>

  </nav>
