{%extends 'templates/accounts/main.html'%}
{%block content%}



<br>
<div class="row">
    <div class="col-md">

        <div class="card card-body">
            <span style="float:right; margin:5px; font-size:24px">Order Summary</span>
            <table class="table">
        <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Price</th>
        </tr>

<!-- rendering the data(created) into html files for display-->
             
            
                
            {% for i in orders %}
                 <tr><!-- new table row-->
            <td>{{i.product.name}}</td>
            <td>{{i.product.category}}</td><!-- new table column-->
            <td>{{i.product.price}}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td>{{empty}}            Total</td> 
                    <br><td>{{total}}</td>
                </tr>

            </table>
            <button onClick="window.print()" style="width:7%; float:right; margin:5px; font-size:10px">Print
</button>
            </div>
        </div>
        </div>



{%endblock%}
