{% extends 'templates/accounts/main.html' %}
{% load static %}
{% block content %}

<style>
    .profile-pic{
    max-width:200px;
    max-height:200px;
    margin: 0 auto;
    border-radius:50%;
    }
    #hello-msg{
    font-size:18px;
    color:#fff;
    float: right;
    margin-right:-0.5cm;
    margin-bottom:-0.5cm;
    }
    input.right{
    float: right;
      }
    
    
    


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #EEF0F7;
}


    
    
</style>





<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <h3 style="text-align: center"> Account Settings</h3>
            <hr>
            <img class="profile-pic" src="{{ request.user.customer.profilePic.url }}">
            <h4 style="text-align: center"> {{request.user.customer.name}}</h4>
            <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back to Profile</a>

            <span>   <a id="hello-msg" href="{% url 'logout' %} " class="btn btn-sm btn-danger">Logout</a></span>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card card-body">
            <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{forms.as_p}}
                <button type="submit"> Update Information </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
