{%extends 'templates/accounts/main.html'%}
{%block content%}
{%load static%}
<style>
    #user-profile{
    font-size:28px;
    margin-right:20px;
    }
    #customer-name{
    font-size:20px;
    float:right; 
    margin:5px;
    }
</style>

<span id="user-profile">User Profile</span>
<span id='customer-name'>Welcome: {{currentUser}}</span>
{%include 'templates/accounts/status.html'%}


<br><br><br>


<div class="col-md">
    <h5>LAST 5 ORDERS</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'user_place_order' %}">Place Order</a>
        <table class="table table-sm">
            <tr>
                <th>Product</th>
                <th>Date Orderd</th>
                <th>Status</th>
                <th>Remove</th>
            </tr>
            {% for i in orders %}
            <tr>
                <td>{{i.product.name}}</td>
                <td>{{i.date_created}}</td>
                <td>{{i.status}}</td>
                <td> <a class="btn btn-sm btn-danger" href="{%url 'delete_order' i.id %}">Delete</a> </td>
            </tr>
            
            {% endfor %}
            <a class="btn btn-sm btn-warning btn-block" href="{% url 'order_summary' %}">Order Summary</a>
        </table>
    </div>
</div>


{%endblock%}
